<div class="container">
	<div class="main-content">
		
			

		<div class="text-content clearfix">
			<div class="page-title">
				
				<h1>Tutorials + Links</h1>
			</div>

			<div class="page-text">
				<table width="85%" cellspacing="5" cellpadding="5">
   
       				<tr> 
					    <td valign="top" width="32%" class="normal_11"><a href="http://www.calumetphoto.com/" target="_blank">Calumet 
					        Photographic</a><br>
					        (617) 576 - 2600<br>
					      	105 First St, Cambridge
					      	&nbsp;
					    </td>
					    <td width="68%" class="normal_11"> 
					        <p>Equipment. Convenient.</p>
					        <p class="normal">(It is near the Cambridgeside Galleria)<br>
					        </p>
				    	</td>
				    	&nbsp;
    				</tr>
    				&nbsp;
    				<tr> 
				        <td valign="top" width="32%" class="normal_11"><a href="http://www.bostonphoto.com/" target="_blank">
				        	Boston Photo Imaging</a><br>
					        (617) 267 - 4086<br>
					        355 Boylston Street, Boston</td>
				        <td width="68%" class="normal_11">Website shows services available.<br>      </td>
    				</tr>
    				<tr>
					    <td valign="top" class="normal_11"><a href="http://www.bhphotovideo.com" target="_blank">
						    B&amp;H Photo Video</a><br>
							(800) 609 - 6969<br>
							420 Ninth Avenue, NYC
						</td>
					    <td class="normal_11">Great for cheap equipment, etc. 
					        Usually they ship FedEx economy, which takes one day to Boston, but plan 
					        ahead. Order with others to save on shipping.
					    </td>
				    </tr>
 
  				</table>
  
			  <p>&nbsp;</p>
			  <table width="85%" cellpadding="5" cellspacing="5">
			    <tr>
			      <td width="68%" class="normal_11"><p class="normal_11">Tutorials:</p>
			          <p><a href="resources/Uploading_Tutorial.pdf" class="normal_11yellow">How to upload files to your webspace (PDF)</a></p>
			      <p><a href="http://www.adobe.com/designcenter/video_workshop/" target="_blank">Dreamweaver / Photoshop and other Adobe Tutorials</a></p>
			      
			      </td>
			    </tr>
			  </table>
			  <p>&nbsp;</p>

			  <table width="85%" cellpadding="5" cellspacing="5">
			    <tr>
			      <td width="68%" class="normal_11"><p class="normal_11">Camera Basics:</p>
			        <p class="normal_11"><a href="http://www.digicamguides.com/learn/exposure.html" class="normal_11yellow">How to get a photo correctly exposed by adjusting aperture and shutter speed</a></p>
			        <p class="normal_11yellow"><a href="http://www.uscoles.com/technical.html">Basic aperture and shutter speed technical information</a></p>
			      <p><a href="http://www.digital-cameras-help.com/basic-photography-tips.html">Understanding aperture, shutter speed, and ISO</a></p>
			      <p>&nbsp;</p>
			    </tr>

			  </table>

			    <table width="85%" cellpadding="5" cellspacing="5">
			    <p>&nbsp;</p>
				    <tr>
					     <td width="68%" class="normal_11"><p class="normal_11">Website Help:</p>
					        <p class="normal_11">Once and Future City template:  <a href="resources/template" class="normal_11yellow">view</a> | <a href="resources/template.zip">zip</a></p>      
					        <p class="normal_11yellow">How to shrink your images for the web: <a href="resources/shrink-for-web-sm.jpg">Photoshop</a> | <a href="resources/130226-SHRINKOMATIC.pdf">Shrink O' Matic</a></p>
							<p class="normal_11yellow">Dreamweaver Alternatives: <a href="http://www.kompozer.net/">Kompozer</a></p>
							<p class="normal_11yellow"><a href="resources/html_cheat.html">HTML Cheat Sheet - Learn how to make and upload your site</a></p>
					        
					    </td>
				    </tr>
				     
			  	</table>
			</div>
		</div>
	</div>
</div>