<div class="container">
	<div class="main-content">
		
			

		<div class="text-content clearfix">
			<div class="page-title">
				<!-- <h2>Assignment 2</h2> -->
				<h1>Featured Projects</h1>
			</div>
			<div class="page-text">
				<div class="city-block">
					<h1>Boston, MA</h1>
					<ul>
					<p><a href="http://web.mit.edu/fionalam/www/Chinatown/" target="_blank">Chinatown (2014)</a></p>
					<p><a href="http://11.016.scripts.mit.edu/www/phhu/" target="_blank">Chinatown (2012)</a></p>
					<p><a href="http://mit.edu/lcbooth/www/FortPoint/" target="_blank">Fort Point (2014)</a></p>
					<p><a href="http://architecture.mit.edu/class/city/archive/projects13/fort_point_jqueeney/" target="_blank">Fort Point (2013)</a></p>
					<p><a href="http://web.mit.edu/mch7rz/www/Fenway/site.html" target="_blank">Fenway (2014)</a></p>
					<p><a href="http://architecture.mit.edu/class/city/archive/projects13/downtown_boston_alampi/" target="_blank">Downtown Boston (2013)</a></p>
					<p><a href="http://architecture.mit.edu/class/city/archive/projects13/the_bulfinch_triangle_dondina/" target="_blank">Bulfinch Triangle (2013)</a></p>
					<p><a href="http://11.016.scripts.mit.edu/www/marcelw/" target="_blank">Rose Kennedy Greenway (2012)</a></p>
					<p><a href="http://web.mit.edu/joseml/www/4.211%20Website/index.html" target="_blank">Beacon Hill (2014)</a></p>
					<p><a href="http://11.016.scripts.mit.edu/www/cgreaves/" target="_blank">Beacon Hill (2011)</a></p>
					<p><a href="http://11.016.scripts.mit.edu/www/jagat/" target="_blank">Central Square (2011)</a></p>
					<p><a href="http://11.016.scripts.mit.edu/www/kari/" target="_blank">South End (2011)</a></p>
					<p><a href="http://web.mit.edu/bnz/www/CoolidgeCorner/" target="_blank">Coolidge Corner (2014)</a></p>	
					</ul>
				</div>

				
			</div>
		</div>
	</div>
</div>