<style type="text/css">
	table{
		font-family: 'Droid Serif', serif;
	}

	table tr td {
		font-size: 14px;
	}

	table td {
		height: 60px;
	}
</style>

<div class="container">
	<div class="main-content">
		
			

		<div class="text-content clearfix">
			<div class="page-title">
				<!-- <h2>Assignment 2</h2> -->
				<h1>Syllabus</h1>
			</div>
			<div class="page-text syllabus">
				<P><span class="normal_11">Required readings are on reserve in the Rotch Library or are available electronically on <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">
  Stellar</a>. Kenneth Jackson, <i>Crabgrass Frontier</i> is available for purchase at the MIT Coop.</span></P>
  

  <p>&nbsp;</p>
  <div align="left">
  <table width="76%" border="0" cellspacing="5" cellpadding="5" class="normal_11">
    <tr> 
      <td colspan="2"> 
        <p><b>I. Reading the City</b></p>
        <p><u>Required Reading</u>: <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">Grady Clay, <i>Close-Up: How to Read the American  City</i>, pp. 11-16 and 38-65 (Chicago, 1980)</a>. <b>Finish reading prior to class on Wednesday, February 11.</b></p>
      </td>
    </tr>
    <tr> 
      <td width="18%"><b>February 4</b></td>
      <td width="82%"> 
        <p>How Can Cities Be Read and Why</p>
      </td>
    </tr>
    <tr> 
      <td width="18%"><b>February 9</b></td>
      <td width="82%">The Once and Future City: Processes That Shape</td>
    </tr>
    <tr> 
      <td width="18%"><b>February 11</b></td>
      <td width="82%">Reading and Writing the City: The Case of Philadelphia</td>
    </tr>
    <tr> 
      <td height="6" width="18%"><b><i><a href="site.html" target="_self">February
               16</a></i></b></td>
      <td width="82%" height="6"><b><i><a href="site.html" target="_self">Project 
        Assignment #1 Due on Stellar: Select a Site</a></i></b></td>
    </tr>    

    
    <tr>
      <td height="7"><b>February 17 [Tuesday]</b></td>
      <td width="82%" height="7">Perspectives on MIT Sites</td>
    </tr>
 
        <tr>
      <td><b>February 21</b></td>
      <td><b><i>Assignment #1 Due on Your Website</a></i></b></td>
    </tr>
    
  </table>
</div>
<div align="left"></div>
<blockquote>
  <p>&nbsp;</p>
</blockquote>


<div align="left">
   <table width="76%" border="0" cellspacing="5" cellpadding="5" class="normal_11">
    <tr> 
      <td colspan="2">
        <p align="left"><b>II. City and Nature: Natural Processes as Agents of
             Change</b></p>
        <p><u>Required Reading</u>: Anne Whiston Spirn, <i>The Granite Garden: Urban Nature and Human Design</i> 
          (Basic Books, 1984), <b>finish reading prior to class on Monday March 3</b>; <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">James Elkins, <i>How to Use Your Eyes</i> (Routledge,
          2000): &quot;Preface,&quot; &quot;How to Look at a Culvert,&quot; &quot;How to Look
          at Pavement,&quot; &quot;How to Look at a Twig&quot;</a>, <b>read prior to class on Monday, February 24</b>; Browse through maps in Alex Krieger, ed., <i>Mapping Boston</i> <b>by March 5.</b></p></td>
    </tr>
    <tr> 
      <td width="20%"><b>February 18</b></td>
      <td width="82%"> 
        <p>Boston, A Natural Environment Transformed</p>      </td>
    </tr>
    
 
	<tr> 
      <td height="18" width="20%"><b>February 23</b></td>
      <td height="18" width="82%">Field Trip: Processes and Patterns of Air, Earth, Water, and Life</td>
    </tr>
    
<tr> 
      <td height="18" width="20%"><b>February 25</b></td>
      <td height="18" width="82%">Observing, Analyzing, and Explaining How Natural Processes Shape the City</td>
    </tr>
    
    <tr>
      <td><b>March 2</b></td>
      <td>Discussion of Findings on Student Sites</td>
    </tr>
    
    	<tr>
	  <td height="18"><b>March 4</b></td>
	  <td height="18"> Adapting the City to Natural Processes</td>
    </tr>
  
    <tr> 
      <td width="20%"><b><i><a href="natproc.html" target="_self">March
          6</a></i></b></td>
      <td width="82%"><b><i><a href="natproc.html" target="_self">Project
          Assignment #2 Due on Stellar and on Your Website: Your Site and Natural Processes</a></i></b></td>
    </tr>
    
        
	<tr>
	  <td height="18"><b>March 9</b></td>
	  <td height="18">MIT Sites: What Patterns Emerged?</td>
    </tr>



	<tr>
	  <td height="18" colspan="2"><p align="left"><b>III. City and Society: Social Processes as Agents
	    of Change </b></p>
	    <p><u>Required Reading</u>: Kenneth Jackson, <u>Crabgrass Frontier:
	      The Suburbanization of the United States</u> (Oxford, 1985), <b>finish reading Jackson prior to class on March 30</b>;
      <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">Sam Bass Warner</a>, in <i>Mapping Boston</i>, edited by Alex Krieger, <b>read Warner  prior to class on Monday, March 16.</b></p></td>
    </tr>
	<tr>
	  <td height="18"><b>March 11</b></td>
	  <td height="18"> Change Over Time: Discovering and Explaining Patterns</td>
    </tr>

	<tr>
	  <td height="18"><b>March 16</b></td>
	  <td height="18">Workshop: Observing Change</td>
    </tr>

	<tr>
	  <td height="18"><strong>March 18</strong></td>
	  <td height="18">Workshop: Analyzing and Explaining Change</td>
    </tr>
   
    
    
    	<tr>
	  <td height="18"><b>March 21-29</b></td>
	  <td height="18"><strong>SPRING VACATION</strong></td>
    </tr>
          <tr>
    <td><b>March 30</b></td>
    <td><p>Workshop: Describing Changes Over Time, Making an Argument</p></td>
  </tr>
    
    
    	<tr>
	  <td height="18"><b>April 1</b></td>
	  <td height="18">MIT's Neighborhood in Historical Context</td>
    </tr>
    
 	<tr>
	  <td height="18"><b><i><a href="change.html" target="_self">April
      3</a></i></b></td>
	  <td height="18"><b><i><a href="change.html" target="_self">Project
      Assignment #3 Due on Stellar and on Your Website: Your Site Through Time</a></i></b></td>
    </tr>   

    <tr>
	  <td height="18"><b>April 6</b></td>
	  <td height="18">MIT Sites: What Patterns Emerged?</td>
    </tr>
  </table>
</div>
<blockquote> 
  <blockquote> 
    <blockquote>
      <p>&nbsp;</p>
    </blockquote>
  </blockquote>
</blockquote>
<div align="left"> 
  <table width="76%" border="0" cellspacing="5" cellpadding="5" class="normal_11">
    <tr> 
      <td colspan="2">
        <p align="left"><b>IV. Looking Back, Looking Ahead: Envisioning and Shaping 
          Future Cities</b></p>
        <p><u>Required Reading</u>: Dolores Hayden, <em>The Power of Place: Urban Landscapes as Public History</em> (MIT Press, 1995) <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">pp. 14-43 and 226-238, <b>read before class on Monday April 13</b></a>; Spirn, <a href="https://stellar.mit.edu/S/course/11/sp15/11.016/materials.html/"  target="_blank">&quot;The Yellowwood and the Forgotten
             Creek&quot;</a> and <a href="http://www.wplp.net" target="blank">The West Philadelphia
             Landscape Project</a> website, <b>read before class on Wednesday, April 15</b>.</p>
</td>
    </tr>
 
 
    <tr> 
      <td width="18%"><b>April 8</b></td>
      <td width="82%"> 
        <p>Field Trip: Discovering and Photographing Artifacts, Traces, and Trends</p>
      </td>
    </tr>   
    


	<tr>
	  <td height="18"><b>April 13</b></td>
      <td height="18">Discussion of Findings</td>
    </tr>
 
    
    
      <tr>
    <td><strong>April 15</strong></td>
    <td><p>West Philadelphia Landscape Project</p></td>
  </tr>
    
     	<tr>
	  <td height="18"><b>April 20</b></td>
      <td height="18">PATRIOTS DAY HOLIDAY</td>
    </tr>
     	<tr>
      <td><b><i><a href="traces.html" target="_self">April 20</a></i></b></td>
      <td><p><b><i><a href="traces.html" target="_self">Project
      Assignment #4 Due on Stellar and on Your Website: Artifacts, Layers, Traces, and Trends</a></i></b></p></td>
    </tr> 
      <tr> 
      <td width="18%"><b>April 22</b></td>
      <td width="82%"> 
        <p>MIT Sites: What Patterns Emerged?</p>
      </td>
    </tr>
	
  </table>
  <p>&nbsp;</p><table width="76%" border="0" cellpadding="5" cellspacing="5" class="normal_11">
    <tr> 
      <td colspan="2"> <p align="left"><b>V. Boston Sites: How Have They Evolved, Where Are They Headed</b></p>
        <p><u>Required Reading</u>: 2011 Boston Sites; Jane Jacobs, &quot;The Kind of Problem a City Is,&quot; in <em>The Death and Life of Great American Cities</em>, pp. 428-448. <b>Read prior to class on Wednesday, May 14.</b></p></td>
    </tr>
    <tr> 
      <td width="18%"><b>April 27</b></td>
      <td width="82%"> <p>Presentation and Discussion of Sites</p></td>
    </tr>
        <tr> 
      <td width="18%"><b>April 29</b></td>
      <td width="82%"> <p>Presentation and Discussion of Sites</p></td>
    </tr>
    
    <tr> 
      <td width="18%"><b>May 4</b></td>
      <td width="82%"> <p>Presentation and Discussion of Sites</p></td>
    </tr>
    <tr> 
      <td width="18%"><b>May 6</b></td>
      <td width="82%"> <p>Presentation and Discussion of Sites</p></td>
    </tr>
    
     <tr> 
      <td width="18%"><b>May 11</b></td>
      <td width="82%"> <p>Presentation and Discussion of Sites</p></td>
    </tr>

    <tr>  
      <td width="18%"><b>May 13</b></td>
      <td width="82%">What Patterns Emerged?</td>
    </tr>
    
        <tr>
      <td><b><i><a href="traces.html" target="_self">May 14</a></i></b></td>
      <td><p><b><i><a href="traces.html" target="_self">Revision of Selected Assignment Due on Stellar and on Your Website </a></i></b></p></td>
    </tr>  

  </table>

			</div>
		</div>
	</div>
</div>