<div class="container">
	<div class="main-content">
		
			

		<div class="text-content clearfix">
			<div class="page-title">
				<!-- <h2>Assignment 2</h2> -->
				<h1>Resources for Site Research</h1>
			</div>
			<div class="page-text">
				    <p><span class="normal_11"> The online maps and reference materials available 
				      through MIT's Rotch Library are found on the web here.<br>
				    
				    If you recall, the more useful resources for researching the
				    history of your site will be the Sanborn and the Bromley Fire
				    Insurance Atlases, many of which are available at Rotch Library
				    (on paper and microfilm) and some of which are available on the
				    web. <br>

				    <a href="http://libguides.mit.edu/maps" 
				    target="_blank">http://libguides.mit.edu/maps</a>

				    </span></p>
				    <hr>
				    <p><span class="normal_11"> The Sanborn maps, which will be especially useful 
				      to you, are available at the following site. Please note that you must be 
				      on campus to access these maps.<br>
				      <a href="http://sanborn.umi.com" target="_blank"> http://sanborn.umi.com/</a> 
				      </span></p>
				    <hr>
				    <p><span class="normal_11">In locating historic maps of the Boston area on 
				      which to locate your site, you might find the book <i>Mapping Boston</i> 
				      helpful. It is by Alex Krieger and David Cobb with Amy Turner, and is available 
				      in the reference section of Rotch Library as well as in the stacks. There 
				      is also a website associated with the book that contains some of the same 
				      maps:<br>
				      <a href="http://www.mappingboston.org" target="_blank"> http://www.mappingboston.org 
				      </a> </span></p>
				    <hr>
				    <p><span class="normal_11"> The State of Massachusetts maintains a website 
				      with maps and information on most of the cities &amp; towns in MA. To access 
				      it, go to <a href="http://commpres.env.state.ma.us/index.asp" target="_blank">http://commpres.env.state.ma.us/index.asp</a> 
				      and click the 'Choose a Community' link near the top of the page. </span><font size="2" face="Arial, Helvetica, sans-serif">Available 
				      Information includes buildout maps, aerial photographs, zoning maps, and 
				      photographs of the town, among other things.</font><span class="normal_11"><a href="http://www.mappingboston.org" target="_blank"></a> 
				      </span></p>
				    <hr>
				    <p><span class="normal_11">Maps Over Time is another resource for historical 
				      map collections on Boston and Cambridge:<br>
				      <a href="http://www.mapsovertime.com/index.htm" target="_blank"> http://www.mapsovertime.com/index.htm</a> 
				      </span></p>
				    <hr>
				    <p><span class="normal_11">Future Boston includes historical images of many 
				      Boston neighborhoods over the years:<br>
				      <a href="http://www.futureboston.org/bostonmaps.htm" target="_blank"> http://www.futureboston.org/bostonmaps.htm</a></span></p>
				    <hr>
				    <p><span class="normal_11">For GIS (geographic information system) information 
				      on Massachusetts cities and towns, see the following site:<br>
				      <a href="http://www.state.ma.us/mgis/massgis.htm" target="_blank"> http://www.state.ma.us/mgis/massgis.htm</a> 
				      </span></p>
				    <hr>
				    <p><span class="normal_11">The Library of Congress has an online map collection 
				      that, again, may help provide some contextual maps on which to locate your 
				      site.<br>
				      <a href="http://memory.loc.gov/ammem/gmdhtml/gmdhome.html" target="_blank"> 
				      http://memory.loc.gov/ammem/gmdhtml/gmdhome.html </a> </span></p>
				    <hr>
				    <p><span class="normal_11">

				    In addition, you probably should look up books pertaining to the
				    history of your site.  You are unlikely to find books that will
				    contain as detailed historic information as what you're looking
				    for.  But reading such books might:<ul>

				    <li>Give you a historical overview, and help you figure out what
				    dates you might want to look at, and</li>
				    <li>Help you find some primary source historical maps that may not
				    have been available to you through other means.</li></ul>

				    Use the MIT Libraries online catalogue system (Barton) to do
				    searches for material on your site.<br>

				    <a href="http://libraries.mit.edu/barton" target="_blank">
				    http://libraries.mit.edu/barton
				    </a>

				    </span></p>
				    <hr>
				    <p><span class="normal_11"> If you have additional questions or problems, 
				      contact <a href="mailto:acrowley@mit.edu">Alison Crowley</a>. </span></p>


				  
				<br><br>
				

			</div>
		</div>
	</div>
</div>