<div class="container">
	<div class="main-content">
		
			

		<div class="text-content clearfix">
			<div class="page-title">
				<!-- <h2>Assignment 2</h2> -->
				<h1>Current Projects</h1>
			</div>
			<div class="page-text">
				<div class="city-block">
					<h1>Boston, MA</h1>
					<ul>
						<p><a href="http://web.mit.edu/joseml/www/4.211%20Website/index.html" target="_blank">Beacon Hill</a></p>
						<p><a href="http://web.mit.edu/jcanning/www/charlesmgh/" target="_blank">MGH and Charles Street Station</a></p>
						<p><a href="http://web.mit.edu/limg/www/11.016/" target="_blank">Faneuil Hall and Government Plaza</a></p>
						<p><a href="http://web.mit.edu/laura16/www/OnceAndFutureCity/" target="_blank">Haymarket and North End</a></p>
						<p><a href="http://web.mit.edu/jorgech/www/North_End/index.html" target="_blank">North End</a></p>
						<p><a href="http://www.mit.edu/~justinjc/" target="_blank">North End</a></p>
						<p><a href="http://web.mit.edu/njborja/www/" target="_blank">Bulfinch Triangle</a></p>
						<p><a href="http://web.mit.edu/jahnavik/www/onceandfuture/" target="_blank">Boston Harbor</a></p>
						<p><a href="http://web.mit.edu/jaguark/www/state_street_jaguark/" target="_blank">State Street</a></p>
						<p><a href="http://web.mit.edu/fionalam/www/Chinatown/" target="_blank">Chinatown</a></p>
						<p><a href="http://web.mit.edu/leswang/www/Chinatown/site.html" target="_blank">Chinatown</a></p>
						<p><a href="http://web.mit.edu/jorenl/www/city/" target="_blank">South Station and Dewey Square</a></p>
						<p><a href="http://mit.edu/lcbooth/www/FortPoint/" target="_blank">Fort Point</a></p>
						<p><a href="http://www.web.mit.edu/bbassi17/www/CopleySquare/templatewebpage/template/" target="_blank">Copley Square</a></p>
						<p><a href="http://web.mit.edu/sunc/www/site/index.html" target="_blank">Christian Science Plaza</a></p>
						<p><a href="http://web.mit.edu/jains/www/4.211/index.html" target="_blank">South Fenway</a></p>
						<p><a href="http://web.mit.edu/mch7rz/www/Fenway/site.html" target="_blank">Fenway</a></p>
						<p><a href="https://web.mit.edu/asalgado/www/index.html" target="_blank">BPL and Copley Square</a></p>
					</ul>
				</div>

				<div class="city-block">
					<h1>Somerville, MA</h1>
					<ul>
						<p><a href="http://web.mit.edu/dlizardo/www/" target="_blank">Davis Square</a></p>
					</ul>
				</div>

				<div class="city-block">
					<h1>Allson/Brighton, MA</h1>
					<ul>
						<p><a href="http://web.mit.edu/ekenney/www/11.016/index.html" target="_blank">Allston at Harvard Ave</a></p>
					</ul>
				</div>

				<div class="city-block">
					<h1>Brookline, MA</h1>
					<ul>
						<p><a href="http://web.mit.edu/bnz/www/CoolidgeCorner/" target="_blank">Coolidge Corner</a></p>
					</ul>
				</div>

				<div class="city-block">
					<h1>Jamaica Plain, MA</h1>
					<ul>
						<p><a href="http://web.mit.edu/~natashab/www/Pond-Street/site.html" target="_blank">Jamaica Pond</a></p>
						<p><a href="http://idr.scripts.mit.edu/oafc/" target="_blank">Jamaica Plain</a></p>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>